*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.navbar{
    color: aqua;
   /* display: flex; */
    /* margin:  0px 12px; */
    background-color: rgb(195, 150, 236);
    border: 2px solid purple;
    height: 100px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}



.navbar ul{
    margin: auto;
    width: 50%;

}

.navbar li{
    float: left;
    text-align: center;
  padding: 4px;
  margin: 9px;
    display: block;
    border-radius: 3px;
    background-color: rgb(0, 217, 255);
    border: 2px solid white;
}
 a{
    text-decoration: none;
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: capitalize;
    margin: 5px;
    padding: 10px;
    list-style-type:circle ;
  
    /* padding: 10px; */
}
#logo{
    margin: 33px 10px 0px 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
font-size: 32px;

}
#btn{
     margin:  38px 20px 28px 5px;
    background-color: aqua;
    color: blue;
    border-radius: 3px;
padding: 3px;
}
 #head h1{
    text-align: center;
    margin: 53px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-transform: capitalize;
font-size: 42px;
color: blueviolet;


}
#head article{
    border: 4px;
    display: flex;
    float: left;
    height: 444px;
    flex-wrap: wrap;

}
#head .para {
    box-shadow: 3px 3px 3px black;
    width: 45%;
    height: 287px;
    margin: 33px;
    font-size: 23px;
    margin-top: 3px;
    margin-left: 100px;
    background-color: #fbf0f0;
    color: dodgerblue;
    /* border: 3px solid pink; */
    padding: 45px;
    padding-bottom: 94px;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
}
 #head #photo{

    height: 540px;
    margin-left: 19px;
    margin: -86px 50px 0px 102px;
}

 .cv {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: -226px auto;
    text-align: center;
    padding-top: 8px;
    color: dodgerblue;
    height: 59px;
    width: 41%;;
    font-size: 30px;
    background-color:transparent;
    margin-top: 525px;
    box-shadow: 3px 3px 3px black;
}
.cv button{
        width: 160px;
        color: #7a00ff;
        height: 34px;
        margin: 0px 0px 0px 4px;
        background-color: aqua;
        font-size: 12px;
        border-radius: 2px;
}

.cv button:hover{

    background-color: blue ;
    color: white;
    cursor: pointer;

    }


    #slider{
        position: fixed;
        margin: 0px ;
        padding: 0px;
        width: 0px;
        height: 100%;
        background-color: black;
        overflow-x: hidden;
        right: 0px;
        transition: 0.6s;
        top: 0px;
        z-index: 1;

    }
    #slider a{
        color: #000;
        font-size: 23px;
        padding: 12px;
        margin: 42px;
        display: block;
       
        background-color: #fff;
        border-radius: 32px;
        background-size: 23px;
        text-align: center;
        font-style: italic;
        font-family: cursive;
    }
    #slider a:hover{
        color: #000;
        background-color: aqua;
    }
    #slider p{
        color: #f0f0f0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px;
        text-align: center;
    }
    #slider #crosBTN{
        top: 2px;
        left: 2px;
        margin: 0px;
        background: none;
        color: #fff;
        text-align: left;
        font-size: 34px;
        
    }

    .p1{ 
    display: flex;
    width: 26%;
    height: 200px;
    text-align: center;
    flex-wrap: wrap;
    background-color: aqua;
    /* border: 4px solid rgb(14, 10, 14); */
    box-shadow: 4px  4px  4px black ;
    border-radius: 12px;
    margin: 23px;
    margin-left: 60px;
    padding: 10px;

}
.p1 img{
    height: 200px;
    margin: 0px auto ;
}
  .p1 p{
    font-family: Arial, Helvetica, sans-serif;
  }  

.p1 h3{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin:32px auto;
    font-size: 32px;
    margin-bottom: 0px;
}
#project h1{
    text-align: center;
    margin-top: 300px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-transform: capitalize;
font-size: 60px;
color: blueviolet;
}
#project article{
    border: 4px;
    display: flex;
    float: left;
    height: 444px;
    flex-wrap: wrap;

}





.skill h1{
    text-align: center;
    margin-top: 300px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-transform: capitalize;
font-size: 60px;
color: blueviolet;
}
.skill{
    margin: 0px auto;
    /* background: url("backg.jpeg"); */
    opacity: 0.7;
}
.skill-bar{
    margin: 0px auto;
    width: 500px;
    background: #fff;
    box-shadow: 5px 5px 5px;
    padding: 25px 30px;
}
.skill-bar .bar{
    margin: 20px 0px;
    
}
.skill-bar .bar :first-child{
    margin-top:0px ;
}
.skill-bar .bar .info span{

font-size: 17px;
font-weight: 500;

}


.skill-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                     0px  1px rgba(255,255,255,0.8);
   

}
 .bar .progress-line span{
     height: 100%;
     width: 80%;
     background: #6665ee;
     position: absolute;
     border-radius: 10px ;

 } 
 
 .progress-line.html span{
    width:  75%;
}
.progress-line.css span{
    width:  50%;
}
.progress-line.javaScript span{
    width:  25%;
}
.progress-line.php span{
    width:  15%;
}


 .bar .progress-line span::before{
     position: absolute;
     content: " ";
     right: 0px;
     top: -10px;
     height: 0px;
     width: 0px;
     border: 7px solid transparent;
     border-bottom-width:0px ;
     border-top-width:0px ;
     border-top-color:#000 ;

 }

 .bar .progress-line span::after{
     position: absolute;
     content: "80%";
     right: 0px;
     top: -28px;
     color: #fff;
     background: #000;
     font-size: 12px;
     font-weight: 500;
     padding: 1px 8px;
     border-radius: 3px;

     

 }
 .progress-line.html span::after{
     content: "75%";
 }
 .progress-line.css span::after{
     content: "50%";
 }
 .progress-line.javaScript span::after{
     content: "25%";
 }
 .progress-line.php span::after{
     content: "25%";
 }







 *footer{
    position: fixed;
    background: #b226dd;
    width: 100%;
    bottom: 50px;
    left: 0;
  }
  .f{
    margin-top: 50px;
    background-color: rgb(29, 61, 80);
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }




@media (max-width: 390px ) {

  .continer .navbar #logo{
    display: none;
  }

  .navbar{
    width: 321%;
  }

.navbar ul{
width: 74%;
}

a{
  font-size: 18px;
}
#head h1{
  margin: 249px -534px 36px 161px;
  font-size: 96px;
}

#head #photo {
  height: 543px;
  margin: 14px 540px 78px 297px;
}
.cv {

  margin: -182px auto;
  height: 59px;
  width: 281%;
  font-size: 30px;
  margin-top: 1152px;

}
.cv button{
  font-size: 18px;
}

#head .para{
  margin-left: 105px;
  width: 61%;
}
#project h1{
  margin: 249px -534px 36px 161px;
  font-size: 96px;
}
#project article {

  display: block;
  width: 661px;
  margin-left: 169px;
  flex-wrap: wrap;
}
.skill h1{
  margin: 249px -534px 36px 161px;
  font-size: 96px;
}
.skill-bar{
  margin: 33px 20px 30px 220px;
}
.f{
  width: 325%;

}

}


@media(max-width : 800px) and (min-width : 390px) {

  .continer .navbar #logo{
    display: none;
  }

  .navbar{
    width: 146%;
  }

.navbar ul{
width: 57%;
}
a{
  font-size: 18px;
}
#head h1{
    margin: 68px -129px 63px 91px;
    font-size: 68px;
}
#head #photo {
  margin: 4px 554px 96px 322px;
}
.cv {
  margin: -23px auto;
  height: 59px;
  width: 121%;
  font-size: 32px;
  margin-top: 1234px;
  margin-left: 67px;

}
.cv button{
  font-size: 18px;
}

#head .para{
  margin-left: 94px;
  width: 65%;
}
#project h1{
  margin: 249px -137px 69px 297px;
}
#project article {

  width: 615px;
  margin-left: 310px;
}
.skill h1{
  margin: 250px -88px 36px 161px;
  font-size: 67px;
}
.skill-bar{
  margin: 10px 20px 30px 244px;
  width: 705px;
}
.f{
  width: 175%;
}
  
}